* {
    cursor: url('http://ionicframework.com/img/finger.png'), auto !important;
}
.calm {
    color: #0A73B8 !important;
}
.bar-calm,
.button-calm {
    background-color: #0A73B8 !important;
    border-color: #0A73B8 !important;
}
.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #0A73B8;
    border-color: #0A73B8;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.full-width {
    width: 100%;
}
.input-primary {
    position: relative;
    z-index: 9999;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
    background-color: inherit !important;
}
.title-left {
    left: 30px;
}
.item-small {
    padding-top: 7px;
    padding-bottom: 7px;
}
.title.title-left {
    left: 32px !important;
}
.span-light-small {
    color: gray;
    font-size: 12px;
    margin-left: 3px;
}
.custom-icon-right {
    font-size: 32px;
    margin-right: 10px;
}
.bg-empty {
    text-align: center;
    margin-top: 50px;
}
.bg-empty i {
    font-size: 100px;
}
.bg-empty h1 {
    font-size: 18px;
    color: lightgray;
}
.color-light {
    color: lightgray;
}
.color-white {
    color: white;
}
.color-gray {
    color: gray !important;
}
.content-list {
    margin-bottom: 40px;
}
.icon-custom {
    padding-left: 8px;
}
.margin-right {
    margin-right: 15px;
}
.item-checked {
    color: gray;
    text-decoration: line-through;
}
.footer p:nth-child(1){
    font-size:12px !important;
    text-align:left;
}
.footer p:nth-child(2){
    font-size:12px !important;
    text-align:right;
}
#about .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}
#about .scroll {
    display: table-cell;
    text-align: center;
}